#body {
    background-color: #f8f9fa;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1em;
}

.left-main-body {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.game-buttons {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.pgn-box {
    background-color: #f8f9fa;
    width: 40%;
}

.pgn-headers {
    width: 100%;
}

#save-new-game {
    padding-top: 1em;
    padding-left: 1em;
}

.promotion-modal-header {
    width: 100%;
}

.promotion-buttons {
    display: flex;
    justify-content: space-evenly;
}

.padd-top {
    padding-top: 1em;
}

.padd-right {
    padding-right: 1em;
}

.padd-left {
    padding-left: 1em;
}