#body {
    background-color: #f8f9fa;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.left-main-body {
    display: flex;
    flex-direction: column;
}

.game-buttons {
    display: flex;
    justify-content: space-evenly;
}

.pgn-box {
    background-color: #f8f9fa;
    overflow-y: scroll;
}

#save-new-game {
    padding-top: 1em;
    padding-left: 1em;
}

.central-modal-header {
    width: 100%;
    padding-left: 2rem;
}

.promotion-buttons {
    display: flex;
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.padd-top {
    padding-top: 1em;
}

.padd-bottom {
    padding-bottom: 1em;
}

.padd-left {
    padding-left: 1em;
}

.padd-right {
    padding-right: 1em;
}

@media (max-width: 575.98px) {
    #body {
        max-height: 100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .padd-top {
        padding-top: .5em;
    }

    .padd-bottom {
        padding-bottom: .5em;
    }

    p {
        font-size: .75rem;
    }

    .left-main-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar {
        display: none;
    }

    .game-buttons button {
        font-size: .675rem;
    }

    #pgn-headers {
        display: none;
    }
}