#body {
    background-color: #f8f9fa;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 1em;
    width: 100%;
}

.left-main-body {
    display: flex;
    flex-direction: column;
}

.game-buttons {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.pgn-box {
    background-color: #f8f9fa;
}

#save-new-game {
    padding-top: 1em;
    padding-left: 1em;
}

.central-modal-header {
    width: 100%;
    padding-left: 2rem;
}

.promotion-buttons {
    display: flex;
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.padd-top {
    padding-top: 1em;
}

.padd-bottom {
    padding-bottom: 1em;
}

.padd-left {
    padding-left: 1em;
}