<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Chessr</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="css/chessboard-1.0.0.min.css">
	<link rel="stylesheet" href="css/chessr.css">
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="js/chessboard-1.0.0.min.js"></script>
	<script src="js/chess.js"></script>
	<script src="https://unpkg.com/vue"></script>
</head>
<body id="body">
	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">Chessr</span>
	</nav>
	<div class="main-body">
		<div class="left-main-body col-sm-8 col-md-6 col-lg-5">
			<div id="board"></div>
			<div class="game-buttons padd-bottom">
				<button id="new-game-button" type="button" class="btn btn-secondary col-sm-2" v-on:click="newGame">New</button>
				<button id="undo-move-button" type="button" class="btn btn-secondary col-sm-2" v-on:click="undoMove" v-on:keydown="undoMove">Undo</button>
				<button id="flip-board-button" type="button" class="btn btn-secondary col-sm-2" v-on:click="flipBoard">Flip</button>
				<button id="save-game-button" type="button" class="btn btn-secondary col-sm-2" v-on:click="saveGame">Save</button>
				<button id="load-game-button" type="button" class="btn btn-secondary col-sm-2" v-on:click="loadGame">Load</button>
			</div>
		</div>
		<div class="pgn-box col-sm-8 col-md-5 col-lg-5">
			<div id="pgn-headers" class="text-center padd-top">
				<!-- <p class="font-weight-bold">{{ whitePlayerName }} vs. {{ blackPlayerName }}</p> -->
				<span class="d-flex justify-content-center"><p class="font-weight-bold padd-right">{{ whitePlayerName }} vs. {{ blackPlayerName }}</p><p class="padd-left font-italic" v-if="result">{{ result }}</p></span>
				<!-- <span class="d-flex justify-content-center"><p class="padd-right" v-if="eventName">{{ eventName }}</p><p class="font-italic" v-if="result">{{ result }}</p></span> -->
			</div>
			<p id="pgn">
				{{ output }}
			</p>
		</div>
	</div>
	<!-- Promotion Modal -->
	<div class="modal fade" id="promotion-modal" tabindex="-1" role="dialog" aria-labelledby="promotion-modal-center-title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center central-modal-header" id="promotion-modal-center-title">Promote to which piece?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body promotion-buttons">
					<button type="button" class="btn btn-primary" v-on:click="promoteTo('q')" data-dismiss="modal" aria-label="Choose Queen">Queen</button>
					<button type="button" class="btn btn-primary" v-on:click="promoteTo('r')" data-dismiss="modal" aria-label="Choose Rook">Rook</button>
					<button type="button" class="btn btn-primary" v-on:click="promoteTo('b')" data-dismiss="modal" aria-label="Choose Bishop">Bishop</button>
					<button type="button" class="btn btn-primary" v-on:click="promoteTo('n')" data-dismiss="modal" aria-label="Choose Knight">Knight</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Promotion Modal -->
	<!-- Save Game Modal -->
	<div class="modal fade" id="save-game-modal" tabindex="-1" role="dialog" aria-labelledby="save-game-modal-center-title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center central-modal-header" id="save-game-modal-center-title">Save Game</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-row">
							<label for="input-game-title">Game Title</label>
							<input class="form-control" type="text" v-model="gameTitle" id="input-game-title">
						</div>
						<div class="form-row padd-top">
							<div class="form-group col-md-6">
								<label for="input-white-player-name">White Player Name</label>
								<input class="form-control" type="text" v-model="whitePlayerName" id="input-white-player-name">
							</div>
							<div class="form-group col-md-6">
								<label for="input-white-player-rating">White Player Rating</label>
								<input class="form-control" type="text" v-model="whitePlayerRating" id="input-white-player-rating">
							</div>
						</div>
						<div class="form-row padd-top">
							<div class="form-group col-md-6">
								<label for="input-black-player-name">Black Player Name</label>
								<input class="form-control" type="text" v-model="blackPlayerName" id="input-black-player-name">
							</div>
							<div class="form-group col-md-6">
								<label for="input-black-player-rating">Black Player Rating</label>
								<input class="form-control" type="text" v-model="blackPlayerRating" id="input-black-player-rating">
							</div>
						</div>
						<div class="form-row padd-top">
							<div class="form-group col-md-6">
								<label for="input-event-name">Event Name</label>
								<input class="form-control" type="text" v-model="eventName" id="input-event-name">
							</div>
							<div class="form-group col-md-6">
								<label for="input-result">Result</label>
								<select v-model="result" name="result" class="form-control" id="input-result">
									<option value="1-0">1-0</option>
									<option value="0-1">0-1</option>
									<option value="1/2-1/2">1/2-1/2</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer justify-center">
					<button type="button" class="btn btn-success" v-on:click="saveGame()" data-dismiss="modal" aria-label="Save Button">Save</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Save Game Modal -->
	<!-- Load Game Modal -->
	<div class="modal fade" id="load-game-modal" tabindex="-1" role="dialog" aria-labelledby="load-game-modal-center-title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title padd-left">Load a Game</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- <div v-if="games">
						<ul>
							<li class="padd-top" v-for="game in games" :key="game.gameTitle" v-on:click="loadGame(game.pgn)" data-dismiss="modal">
								{{ game.whitePlayerName }} vs {{ game.blackPlayerName }} <span v-if="game.result" class="font-italic padd-left">{{ game.result }}</span>
							</li>
						</ul>
					</div> -->
					<div class="list-group" v-if="games">
						<a class="list-group-item list-group-item-action" v-for="game in games" :key="game.gameTitle" v-on:click="loadGame(game.pgn)" data-dismiss="modal">
							{{ game.whitePlayerName }} vs {{ game.blackPlayerName }} <span v-if="game.result" class="font-italic padd-left">{{ game.result }}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Load Game Modal -->
	<p id="status" class="d-none">
		{{ message }}
	</p>
	<script src="js/new-game.js"></script>
</body>
</html>