<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chessr</title>
	<link rel="stylesheet" href="css/chessboard-1.0.0.min.css">
	<link rel="stylesheet" href="css/chessr.css">
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/chessboard-1.0.0.min.js"></script>
	<script src="js/chess.js"></script>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		{{ message }}
	</div>
	<div id="board" style="width: 400px"></div>
	<p id="status">
		{{ message }}
	</p>
	<p id="fen">
		<!-- {{ output }} -->
	</p>
	<p id="pgn">
		{{ output }}
	</p>
	<div id="undo-move-button">
		<button v-on:click="undoMove" v-on:keydown="undoMove">Undo Move</button>
	</div>
	<div id="new-game-button">
		<button v-on:click="newGame">New Game</button>
	</div>
	<div id="flip-board-button">
		<button v-on:click="flipBoard">Flip Board</button>
	</div>
	<div id="save-new-game">
		<input type="text" v-model="gameTitle" placeholder="Game Title">
		<input type="text" v-model="whitePlayerName" placeholder="White Player Name">
		<input type="text" v-model="blackPlayerName" placeholder="Black Player Name">
		<button v-on:click="saveGame">Save Game</button>
	</div>
	<div id="saved-games" v-if="games">
		<p>Load one of the games below!</p>
		<ul>
			<li v-for="game in games" :key="game.gameTitle" v-on:click="loadGame(game.pgn)">
				{{ game.gameTitle }}
			</li>
		</ul>
	</div>
	<transition id="promotion-modal" name="promotion-modal" v-if="showModal">
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div class="modal-container">
					<div class="modal-header">
						<slot name="header">
							Promote to which piece?
						</slot>
					</div>
					<div class="modal-body">
						<slot name="body">
							<span>Queen</span>
							<span>Rook</span>
							<span>Bishop</span>
							<span>Knight</span>
						</slot>
					</div>
					<div class="modal-footer">
						<button @click="showModal = false">OK</button>
					</div>
				</div>
			</div>
		</div>
	</transition>
	<script src="js/new-game.js"></script>
</body>
</html>